<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tuba.patienttrackingsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            />
        <activity
            android:name=".PatientActivity"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".DoctorActivity"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".DoctorAppointmentsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DoctorSettingsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DoctorAddPatientActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DoctorMyPatientsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DoctorEmergencyNotesActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientDiseaseActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientPillActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientSurveyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientAppointmentActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientAssayActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientEmergencyNoteActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientGraphicActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientQRActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientSettingActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".DoctorEditProfileActivity" />
        <activity
            android:name=".PatientLocationActivity" />
        <activity android:name=".PatientEditProfileActivity" />
        <activity
            android:name=".PatientGetAppointmentActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".DoctorTrackActivity" />
        <activity android:name=".PatientBloodPressureTrackActivity" />
        <activity android:name=".PatientBloodSugarTrackActivity" />
        <activity android:name=".PatientHeartRateTrackActivity" />
        <activity android:name=".PatientWeightTrackActivity" />
        <activity android:name=".PatientAllergyTrackActivity" />
        <activity android:name=".DoctorShowTrackActivity" />
        <activity android:name=".DoctorGetPatientFullTrackReport" />
        <activity android:name=".DoctorGetPatientTrackReport" />
        <activity android:name=".DoctorPatientAssayResultActivity" />
        <activity android:name=".ShowPDFActivity" />
        <activity android:name=".PatientShowPDFActivity" />
        <activity android:name=".DoctorShowGraphActivity" />
        <activity android:name=".DoctorShowWeightGraphActivity"></activity>
    </application>

</manifest>